json templates/AI.json
json templates/CM2SM.json
json templates/CMCD.json
json templates/CMCSM.json
json templates/CMCV.json
json templates/CMDD.json
json templates/CMID.json
json templates/CMIV.json
json templates/CMVSM.json
json templates/DI.json
json templates/PIDV1.json
json templates/PIDV2.json
tags.xlsx
tags.CSV
workspace.code-workspace
venv